<div id="fibre-start" class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container-fluid py-5">
        <div class="section-title text-center position-relative pb-3 mb-5">
            <h5 class="fw-bold text-primary text-uppercase">Nos Produits</h5>
            <h1 class="mb-0">Fibre Optique</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-12 d-flex align-items-center justify-content-center flex-column">
                <div class="wow zoomIn" data-wow-delay="0.3s">
                    <div class="d-flex align-items-center justify-content-center mb-3" style="width: 100vw; position: relative;">
                        <div style="position: relative; width: 100%;">
                            <img src="assets/img/fibk.jpg" alt="Image" style="object-fit: cover; width: 100%; height: 64vh;">
                            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex;">
                                <div style="flex-basis: 50%; padding: 70px; color: white;">
                                    <strong>
                                        <h2 style="color: rgb(12, 11, 11);">Construisez l'avenir de votre entreprise avec un réseau en fibre optique ultraperformant</h2>
                                    </strong>
                                    <p style="color: rgb(10, 10, 10); font-size: 18px;">
                                        La mise en place d'une infrastructure de fibre optique est devenue essentielle pour les entreprises cherchant à établir une connectivité rapide, fiable et évolutive.Le choix des composants de fibre optique tels que les câbles, les connecteurs et les équipements actifs revêt une importance capitale. Opter pour des matériaux de haute qualité et compatibles avec les normes en vigueur garantira une performance optimale du réseau et réduira les risques de défaillance.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
       <div style="margin-top: 30px; margin-bottom: 50px; ">
        <div class="text-center">
        <h2>Les Modules de Fibre Optique </h2>
       </div>
      </div>
      <div class="col-lg-12">
        <div class="row g-5">
      <div class="col-md-3 wow slideInUp" data-wow-delay="0.1s">
        <div class="blog-item bg-light rounded overflow-hidden">
          <div class="blog-img position-relative overflow-hidden">
            <img class="img-fluid" src="assets/img/mody1.png" alt="" style="width: 600px; height: 250px;">
            <div class="overlay d-flex align-items-center justify-content-center">
              <a class="btn btn-lg btn-primary rounded" routerLink="/VidéoSurveillance" fragment="video-start">
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="p-4 text-center">
            <h4 class="mb-3">Module de transceiver SFP+ à fibre optique 10 Gigabit</h4>
          </div>
        </div>
      </div>                                                                
      <div class="col-md-3 wow slideInUp" data-wow-delay="0.3s">
        <div class="blog-item bg-light rounded overflow-hidden">
          <div class="blog-img position-relative overflow-hidden">
                <img class="img-fluid" src="assets/img/mody2.png" alt="" style="width: 600px; height: 250px;">
                <div class="overlay d-flex align-items-center justify-content-center">
                    <a class="btn btn-lg btn-primary rounded" routerLink="/Devis" fragment="devis-start">
                      <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="p-4 text-center">
                <h4 class="mb-3">Émetteur-Récepteur Optique SFP 1G SX 850 Nm</h4>
            </div>
        </div>
    </div>
    <div class="col-md-3 wow slideInUp" data-wow-delay="0.6s">
        <div class="blog-item bg-light rounded overflow-hidden">
            <div class="blog-img position-relative overflow-hidden">
                <img class="img-fluid" src="assets/img/mody3.png" alt="" style="width: 600px; height: 250px;">
                <div class="overlay d-flex align-items-center justify-content-center">
                    <a class="btn btn-lg btn-primary rounded" routerLink="/Devis" fragment="devis-start">
                      <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="p-4 text-center">
                <h4 class="mb-3">Émetteur-récepteur optique CSFP 1.25G SFP 20km</h4>
            </div>
        </div>
    </div>
    <div class="col-md-3 wow slideInUp" data-wow-delay="0.6s">
        <div class="blog-item bg-light rounded overflow-hidden">
            <div class="blog-img position-relative overflow-hidden">
                <img class="img-fluid" src="assets/img/mody4.png" alt="" style="width: 600px; height: 250px;">
                <div class="overlay d-flex align-items-center justify-content-center">
                    <a class="btn btn-lg btn-primary rounded" routerLink="/Devis" fragment="devis-start">
                      <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="p-4 text-center">
                <h4 class="mb-3">Module Émetteur-Récepteur SFP sur fibre Gigabit</h4>
            </div>
        </div>
    </div>
      <div class="row justify-content-center ">
        <div class="col-lg-4 text-center ">
            <div style="margin-top: 80px;"></div> <!-- Ajout d'un espace plus grand -->
            <a routerLink="/Devis" fragment="devis-start" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Demander un Devis</a>
            <a routerLink="/Contact" fragment="contact-start" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight btn-black-border">Contactez-nous</a>
        </div>
    </div>
    </div>
</div>
